/* Sitemap
------------------------------------------*/

.sitemap {

    height: auto; 
    padding: 10px; 
    
    h2 {
       font-family: $headings; 
       color: $type; 
        
    }
}

.sitemap-wrapper {
    width: 80%; 
    margin: 0 auto; 
    padding-top: 10px; 
    padding-bottom: 30px; 
    
    background-color: white; 
    
}

.sitemap-image {
    width: 100%; 
    margin: 0 auto; 
  
   
}
