/* Styleguide fonts
 ----------------------------------



/* Client fonts
 ----------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

$headings: 'Montserrat', sans-serif;
$copy: 'Open Sans', sans-serif;
$accent-type: 'Playfair Display', serif;


